extends ../layout

block content
  h2 Editar Alumno

  form(action=`/alumnos/${alumno.id}?_method=PUT`, method="POST")
    div
      label Nombre:
      input(type="text", name="nombre", value=alumno.nombre, required)
    div
      label Apellido:
      input(type="text", name="apellido", value=alumno.apellido, required)
    div
      label Email:
      input(type="email", name="email", value=alumno.email, required)
    div
      label Telefono:
      input(type="text", name="telefono", value=alumno.telefono, required)
    button(type="submit") Guardar cambios
