extends ../layout

block content
  h2 Editar Alumno

  form(action=`/alumnos/${alumno.id}?_method=PUT`, method="POST")
    div.mb-3
      label.form-label(for="nombre") Nombre:
      input.form-control(type="text", id="nombre", name="nombre", value=alumno.nombre, required)
    div.mb-3
      label.form-label(for="apellido") Apellido:
      input.form-control(type="text", id="apellido", name="apellido", value=alumno.apellido, required)
    div.mb-3
      label.form-label(for="email") Email:
      input.form-control(type="email", id="email", name="email", value=alumno.email, required)
    div.mb-3
      label.form-label(for="telefono") Telefono:
      input.form-control(type="text", id="telefono", name="telefono", value=alumno.telefono, required)

    button.btn.btn-primary(type="submit") Guardar cambios
    a.btn.btn-secondary.ms-2(href="/alumnos") Cancelar
