extends ../layout

block content
  h2 Listado de Alumnos
  div.mb-5
    form(method="GET", action="/alumnos", class="mb-3")
      div.row
        div.col
          input.form-control(type="text", name="nombre", placeholder="Buscar por nombre o apellido", value=nombre || '')
        div.col
          button.btn.btn-primary(type="submit") Buscar

  table.table.table-striped.table-bordered
    thead
      tr
        th ID
        th Nombre
        th Apellido
        th Email
        th Telefono
        th Acciones
    tbody
      each alumno in alumnos
        tr
          td= alumno.id
          td= alumno.nombre
          td= alumno.apellido
          td= alumno.email
          td= alumno.telefono
          td
            form(action=`/alumnos/${alumno.id}?_method=DELETE`, method="POST", style="display:inline")
              button.btn.btn-danger.btn-sm.me-2(type="submit") Eliminar
            form(action=`/alumnos/${alumno.id}/editar`, method="GET", style="display:inline")
              button.btn.btn-primary.btn-sm(type="submit") Editar

  hr

  h3 Agregar Nuevo Alumno
  form(action="/alumnos", method="POST")
    div.mb-3
      label.form-label(for="nombre") Nombre:
      input.form-control(type="text", name="nombre", required)
    div.mb-3
      label.form-label(for="apellido") Apellido:
      input.form-control(type="text", name="apellido", required)
    div.mb-3
      label.form-label(for="email") Email:
      input.form-control(type="email", name="email", required)
    div.mb-3
      label.form-label(for="telefono") Telefono:
      input.form-control(type="text", name="telefono", required)
    button.btn.btn-success(type="submit") Agregar
