extends ../layout

block content
  .container.mt-5
    .card.shadow-lg.border-0.rounded-3
      .card-body
        h2.card-title.text-primary.mb-4 #{course.nombre}
        
        ul.list-group.list-group-flush.mb-3
          li.list-group-item
            strong Horario: 
            |  #{course.horario}
          li.list-group-item
            strong Cupo: 
            |  #{course.cupo}
          li.list-group-item
            strong Área: 
            |  #{course.area}
          li.list-group-item
            strong Estado: 
            |  #{course.estado}
          li.list-group-item
            strong Alumnos inscriptos: 
            |  #{course.alumnos.length}
        
        if course.dictados && course.dictados.length
          h5.mt-4.text-secondary Fechas de dictado
          ul.list-group
            each d in course.dictados
              li.list-group-item #{d.fecha}
  br
  div.d-flex.justify-content-center
    a(href="/courses"): button.btn.btn-primary(type="button")  Volver a cursos
  br
