extends ../layout

block content
  .container.mt-5
    if curso
      h1.mb-4 Alumnos del curso: #{curso.nombre}
    else
      h1.mb-4 Seleccione un curso para ver sus alumnos

    form(method="GET", action="/report/alumnos-por-curso")
      .mb-3
        label(for="cursoId" class="form-label") Filtrar por curso:
        select.form-select(name="cursoId", id="cursoId")
          option(value="") -- Todos los cursos --
          each cursoItem in cursos
            option(
              value=cursoItem.id,
              selected=(curso && curso.id === cursoItem.id) ? 'selected' : false
            )= cursoItem.nombre
      button.btn.btn-primary(type="submit") Buscar

    hr.my-4

    if alumnos.length
      .table-responsive
        table.table.table-striped.table-hover
          thead.table-dark
            tr
              th Nombre
              th Apellido
              th Email
              th Fecha de inscripción
              th Asistencias
          tbody
            each alumno in alumnos
              tr
                td= alumno.nombre
                td= alumno.apellido
                td= alumno.email
                td= new Date(alumno.fechaInscripcion).toLocaleDateString()
                td
                  if alumno.asistencias && alumno.asistencias.length
                    span.badge.bg-success #{alumno.asistencias.length} asistencia(s)
                  else
                    span.badge.bg-secondary Sin datos
    else
      .alert.alert-warning.mt-4 No hay alumnos inscritos en este curso.
