extends ../layout

block content
    .container.mt-5
        h1.text-center.mb-4 Cursos con Vacantes Completas (activos)

        if cursos.length
            table.table.table-striped
                thead
                    tr
                        th Nombre
                        th Cupo
                        th Inscritos
                        th Cupos disponibles
                        th Estado
                tbody
                    each course in cursos
                        tr
                            td= course.nombre
                            td= course.cupo
                            td= course.alumnos.length
                            td= course.cupo - course.alumnos.length
                            td= course.estado
        else
            .alert.alert-warning No hay cursos con vacantes completas.