extends ../layout

block content
  div.d-flex.justify-content-center
      a(href="#create"): button.btn.btn-primary(type="button") Nueva inscripción
  h2 Listado de Inscripciones

  if inscripciones.length === 0
    p No hay inscripciones registradas.
  else
    table.table.table-striped.table-bordered
      thead
        tr
          th ID
          th Alumno
          th Curso
          th Fecha inscripcion
          th Estado
          th Ùltimo Pago
          th Acciones
      tbody
        each inscripcion in inscripciones
          tr
            td= inscripcion.id
            td= inscripcion.alumno ? `${inscripcion.alumno.nombre} ${inscripcion.alumno.apellido}` : 'Sin alumno'
            td= inscripcion.curso ? inscripcion.curso.nombre : 'Sin curso'
            td= inscripcion.fecha_inscripcion || 'Sin fecha'
            td= inscripcion.estado || 'inactivo'
            td
              if inscripcion.pagos.length
                ul
                  each pago in inscripcion.pagos
                    =`${pago.fecha_pago} - $${pago.monto} (${pago.medio})`
              else
                i Sin pagos
            td
              form(action=`/inscripciones/${inscripcion.id}?_method=DELETE`, method="POST", style="display:inline")
                button.btn.btn-danger.btn-sm(type="submit") Eliminar
                
              form(action=`/inscripciones/editar/${inscripcion.id}`, method="GET", style="display:inline")
                button.btn.btn-primary.btn-sm(type="submit") Editar

              if inscripcion.estado === 'inactivo'
                form(action=`/inscripciones/pago/${inscripcion.id}`, method="GET", style="display:inline")
                  button.btn.btn-success.btn-sm(type="submit") Agregar Pago


  br
  // Formulario para crear nueva inscripción
  form(action="/inscripciones" id="create" method="POST" class="container mt-5")
    .card.shadow
      .card-body
        h2.mb-4 Nueva Inscripción
        .mb-3
          label(for="alumnoId" class="form-label") Alumno:
          a.nav-link(href="/alumnos" style="color: blue; text-decoration: underline;") Para agregar alumno haga click aquí
          select#alumnoId.form-control(name="alumnoId" required)
            option(value="") Seleccionar alumno
            each alumno in alumnos
              option(value=alumno.id)= `${alumno.nombre} ${alumno.apellido}`
        .mb-3
          label(for="cursoId" class="form-label") Curso:
          select#cursoId.form-control(name="cursoId" required)
            option(value="") Seleccionar curso
            if cursosDisponibles && cursosDisponibles.length
              each curso in cursosDisponibles
                option(value=curso.id)= curso.nombre
            else
              option(value="" disabled) No hay cursos disponibles

        h4.mt-4.mb-3 Pago Inicial
        .mb-3
          label(for="pagoMonto" class="form-label") Monto:
          input#pagoMonto.form-control(type="number" name="monto" step="0.01" required)

        .mb-3
          label(for="pagoMedio" class="form-label") Medio de Pago:
          select#pagoMedio.form-control(name="medio" required)
            option(value="efectivo")= "Efectivo"
            option(value="tarjeta")= "Tarjeta"
            option(value="Transferencia")= "Transferencia"
            
        .text-center
          button.btn.btn-primary(type="submit") Crear Inscripción